@page "/gantt"
@using NewOdin_Blazor.Components;

<PageTitle>Gantt</PageTitle>

<div class="home-container">
	<div class="home-head">
		<div class="home-title">
			<h3>Gantt</h3>
		</div>
		<div class="home-button-con">
			<button @onclick="DisplayGantt" class="btn btn-primary">Display</button>
		</div>
	</div>
    <GanttComponent @ref="ganttComponent"></GanttComponent>
</div>