@page "/"

@using NewOdin_Blazor.Components;

<PageTitle>Home</PageTitle>

<div class="home-container">
	<div class="home-head">
		<div class="home-title">
			<h3>Gantt</h3>
		</div>
		<div class="home-button-con">
			<button @onclick="DisplayGanttFromData" class="btn btn-primary">Display From Data</button>
			<button @onclick="DisplayGanttFromUrl" class="btn btn-primary">Display From Url</button>
		</div>
	</div>	
	<Gantt @ref="ganttComponent"></Gantt>
</div>
