@using NewOdin_Blazor.Models
@inject IJSRuntime JS

<div @ref="ganttContainer" class="gantt-container"></div>

@code
{
    private ElementReference ganttContainer;
    private IJSObjectReference? ganttModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ganttModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/component/gantt.js");
            await ganttModule.InvokeVoidAsync("initGantt", ganttContainer);
        }
    }

    public async Task DisplayDataAsync(GanttDataModel ganttData)
    {
        await ganttModule.InvokeVoidAsync("loadGanttData", ganttData);
    }
}